* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(240deg, red 50%, white 40%);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    -webkit-box-shadow: 1px 15px 16px 13px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 15px 16px 13px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 15px 16px 13px rgba(50, 50, 50, 0.75);
    backdrop-filter: blur(12px);
}

.card p {
    text-align: center;
    width: 60%;
}

.button-wrapper {
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.button-wrapper a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 16px;
    padding: 5px;
    margin: 5px 5px;
    backdrop-filter: blur(16px);
    font-size: 1.2em;
}

.button-wrapper a:hover {
    transition: .5s;
    transform: translateY(-5px);
}